@model LoadPlannerViewModel

<script type="text/javascript">
    function openLocation(url) {
        window.location.href = url;
    }

    function confirmDelete(id) {
        console.log("Delete Load ID:", id);
        $("#hdnDeleteLoadId").val(id);
        openModal("deleteModal"); // Call the openModal function to open the modal
    }

    function cancelDelete() {
        $("#hdnDeleteLoadId").val(0);
        closeModal("deleteModal");
    }

    function deleteLoad() {
        console.log("Delete Load ID:", id);
        var id = $("#hdnDeleteLoadId").val();
        window.location.href = "/LoadPlanner/DeleteLoad/" + id;
    }

    function openModal(modalId) { // Define the openModal function
        $("#" + modalId).modal("show");
    }
</script>


@* <input type="hidden" id="hdnDeleteLoadId" value="0" /> *@


<h1>Load Planner</h1>
<table>
    <tr>
        <th>Load Code</th>
        <th>Route Number</th>
        <th>Location Code</th>
        <th>Location Description</th>
        <th>Location Address</th>
        <th colspan="2"><button type="button" onclick="javascript:openLocation('/LoadPlanner/CreatePage/')" class="btn btn-success btn-sm">Create New Load</button></th>
    </tr>
    @foreach(var item in Model.LoadList)
    {
        <tr>
            <td>@item.LoadCode</td>
            <td>@item.RouteNumber</td>
            <td>@item.LocationCode</td>
            <td>@item.LocationDescription</td>
            <td>@item.LocationAddress</td>
            <td><button type="button" onclick="javascript:openLocation('/LoadPlanner/LoadDetails/@item.LoadID')" class="btn btn-warning btn-sm">Assign Load</button></td>
            <td>
                <button type="button" onclick="console.log('@item.LoadID'); confirmDelete(@item.LoadID);" class="btn btn-danger btn-sm">Delete Load</button>

            </td>
        </tr>
    }
</table>

<div id="deleteModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CONFIRM DELETE</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this load?</p>
                <button type="button" onclick="javascript:cancelDelete()" class="btn btn-secondary btn-sm">CANCEL</button>
                <button type="button" onclick="javascript:deleteLoad()" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </div>
</div>